# Ignore semua node_modules
**/node_modules/

# Environment files
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Build files
frontend/dist/
backend/logs/

# System files
.DS_Store